body {
    margin: 0 auto;
}
/* tete de page */

header.header {
    display: flex;
    align-items: center;
    
}

header.header img {
    width: 150px;
}
section.top-page {
    background: url("../images/bg.jpg");
    background-size: cover;
    height: 80wh;
    padding: 25px;
}

/* page de bienvenue (landing page) */

.landing-page {
    padding: 20px 50px;
}

.big-title {
    color: white;
    font-size: 80px;
    font-family: "Abril FatFace";
    font-weight: 600px;
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 160px;
}


/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 30px;
}

nav.nav li {
    color: white;
}


/* services */
.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.delivery-icon {
    font-size: 50px;
    color:  #ADD981;
    
}

.service-details {
    font-weight: 600;
    font-family: cambria;
    width: 200px;
    text-align: center;
}

/* best sells */
.section-title {
    font-size: 50px;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.best-plants{
    background-color: red;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.bests-items {
    margin: 100px;
}

.plant-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid {
     min-width: 500px;
    height: 500px;
    flex: 1;
}

.plant1 {
    background-image: url(../images/Nos_meilleurs_ventes/1.png);
}

.plant2 {
    background-image: url(../images/Nos_meilleurs_ventes/2.png);
}

.plant3 {
    background-image: url(../images/Nos_meilleurs_ventes/3.png);
}

.plant4 {
    background-image: url(../images/Nos_meilleurs_ventes/4.png);
}

.plant-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
    
}

.plant-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.plant-price {
    color: #ADD981;
    line-height: 3px;
    font-size: 14px;
    font-weight: 800;
}


/* Nos plantes */
.all-plants {
    margin: 100px;
}

.plant-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.plant-grid1 {
    background-image: url(../images/Nos_créations/11.png);
    grid-column: 1/3;
    grid-row: 1/3;
}

.plant-grid2 {
    background-image: url(../images/Nos_créations/22.png);
    grid-column: 3/5;
}

.plant-grid3 {
    background-image: url(../images/Nos_créations/33.png);
    grid-column: 3/5;
}


.plant-grid4 {
    background-image: url(../images/Nos_créations/44.png);
    grid-column: 1;
    grid-row: 3/5;
}

.plant-grid5 {
    background-image: url(../images/Nos_créations/55.png);
    grid-column: 2/4;
    grid-row: 3/5;
}


.plant-grid6 {
    background-image: url(../images/Nos_créations/66.png);
    grid-column: 4;
    grid-row: 3/5;
}


/* Pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.cgv {
    text-decoration: none;
    color: black;
}
